/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Nunito:wght@400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:wght@400;500;600;700&family=Nunito:wght@400;500;600;800&display=swap');


/*=============== VARIABLES CSS ===============*/
:root{
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    --body-font: 'DM Serif Display';
    --body-font-2: 'Jost';
    --white-color: #FFFFFF;
    --body-color: #FFFFFF;
    --container-color: #FFFFFF;
    --text-color: #292F36;
    --title-color: #292F36;
    --description-color: #4D5053;
    --primary-1: #CDA274;
    --primary-2: #292F36;
    --primary-3: #F4F0EC;


    /*========== Fonts ==========*/
    --big-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-400-weight: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}


/* Responsive fonts */
@media screen and (min-width: 968px) {
    :root {
      --big-font-size: 3.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
}

/*=============== ABOUT / HOME ===============*/
.about-home{
    margin: 0;
    padding: 0;
}

.about-home__bg{
    height: 330px;
    background: url(../img/about-home-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.about-home__container{
    background: white;
    border-radius: 25px 25px 0px 0px;
    padding: 25px 90px;
    text-align: center;
}

.about-home__title{
    margin-bottom: 0.3rem;
}

.about-home__description{
    font-family: var(--body-font-2);
    font-size: var(--normal-font-size);
    color: var(--description-color);
}

/*=============== ABOUT / QUOTES ===============*/
.about-quotes{
    padding: 6.5rem 1rem;
}

.about-quotes__container{
    border: 0.8rem solid var(--primary-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 1rem;
    padding: 2rem 3rem;
    border-radius: 40px;
}

.about-quotes__icon{
    font-size: var(--h2-font-size);
    color: var(--primary-2);
}

.about-quotes__title{
    font-family: var(--body-font);
    font-size: var(--h2-font-size);
}

/*=============== ABOUT / CONCEPT & PORTFOLIO ===============*/
.about-concept__container,
.about-portfolio__container{
    row-gap: 2.5rem;
}

.about-portfolio__container{
    padding-bottom: 6.5rem;
}

.about-concept__description,
.about-portfolio__description{
    margin-bottom: 2rem;
}

/*=============== ABOUT / CONTACT ===============*/
.about-contact{
    background-color: var(--primary-3);
}

.about-contact__container{
    padding-bottom: 6.5rem;
    row-gap: 1.5rem;
}

/* for img */
.about-contact__data:first-child{
    max-width: 100%;
    height: auto;
    background: url(../img/contact-img-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    overflow-y: hidden;
}

.about-contact__data:nth-child(2){
    max-width: 100%;
    height: auto;
    background: url(../img/contact-img-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    overflow-y: hidden;
}

.about-contact__data:nth-child(3){
    max-width: 100%;
    height: auto;
    background: url(../img/contact-img-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    overflow-y: hidden;
}

.about-contact__data:last-child{
    max-width: 100%;
    height: auto;
    background: url(../img/contact-img-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    overflow-y: hidden;
}

/* for hover */
.about-contact__hoverbox{
    position: relative;
    width: 100%;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 3.5rem;
    border-radius: 16px;
    padding: 5.5rem 4rem;

    bottom: -100%;
}

.about-contact__subtitle{
    font-family: var(--body-font);
    font-size: var(--h2-font-size);
    color: var(--primary-2);
}

.about-contact__description{
    font-family: var(--body-font-2);
    font-size: var(--normal-font-size);
    color: var(--description-color);
}

.about-contact__social{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.about-contact__social-link{
    color: var(--primary-2);
    font-size: 1.3rem;
    transition: 0.3s;
}

.about-contact__social-link:hover{
    transform: translateY(-4px);
    color: var(--primary-1);
}

/* about/contact hover */
.about-contact__data:hover .about-contact__hoverbox{
    bottom: 0;
    transition-duration: 0.4s;
}

/*=============== ABOUT / FORM ===============*/
.about-form__container{
    row-gap: 1.5rem;
}

/* Form */
.contact__inputs{
    display: grid;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  
.contact__content{
    position: relative;
    height: 3rem;
    border-bottom: 1px solid var(--primary-2);
}
  
.contact__input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1rem 0;
    background: none;
  
    color: var(--primary-2);
  
    
    border: none;
    outline: none;
    z-index: 1;
}
  
.contact__label{
    position: absolute;
    top: .75rem;
    width: 100%;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    transition: .3s;
}
  
.contact__area{
    height: 7rem;
}
  
.contact__area textarea{
    resize: none;
}
  
/*Input focus move up label*/
.contact__input:focus + .contact__label{
    top: -.75rem;
    left: 0;
    font-size: var(--smaller-font-size);
    z-index: 10;
}
  
/*Input focus sticky top label*/
.contact__input:not(:placeholder-shown).contact__input:not(:focus) + .contact__label{
    top: -.75rem;
    font-size: var(--smaller-font-size);
    z-index: 10;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
/* Completed in main css */

/* For medium devices */
@media screen and (min-width: 600px){
    .about-contact__container{
        column-gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 700px){
    .about-concept__container,
    .about-portfolio__container{
        align-items: center;
        column-gap: 3rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 900px){
    .about-contact__container{
        grid-template-columns: repeat(3, 1fr);
    }

    .about-concept__container,
    .about-portfolio__container{
        column-gap: 6rem;
    }

    .contact__form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .contact__inputs{
        width: 700px;
    }
}

/* For large devices */
@media screen and (min-width: 992px){
    .about-concept__container,
    .about-portfolio__container{
        column-gap: 10rem;
    }
}

@media screen and (min-width: 1048px){
    .about-contact__container{
        grid-template-columns: repeat(4, 1fr);
    }

    .about-contact__hoverbox{
        padding: 2rem 3rem;
        row-gap: 3rem;
    }
}