/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Nunito:wght@400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:wght@400;500;600;700&family=Nunito:wght@400;500;600;800&display=swap');


/*=============== VARIABLES CSS ===============*/
:root{
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    --body-font: 'DM Serif Display';
    --body-font-2: 'Jost';
    --white-color: #FFFFFF;
    --body-color: #FFFFFF;
    --container-color: #FFFFFF;
    --text-color: #292F36;
    --title-color: #292F36;
    --description-color: #4D5053;
    --primary-1: #CDA274;
    --primary-2: #292F36;
    --primary-3: #F4F0EC;


    /*========== Fonts ==========*/
    --big-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-400-weight: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}


/* Responsive fonts */
@media screen and (min-width: 968px) {
    :root {
      --big-font-size: 3.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
}

/*=============== PROJECT / HOME ===============*/
/* Based on About/Home structure */
.about-home{
    margin: 0;
    padding: 0;
}

.about-home__bg{
    height: 330px;
    background: url(../img/services-home-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.about-home__container{
    background: white;
    border-radius: 25px 25px 0px 0px;
    padding: 25px 90px;
    text-align: center;
}

.about-home__title{
    margin-bottom: 0.3rem;
}

.about-home__description{
    font-family: var(--body-font-2);
    font-size: var(--normal-font-size);
    color: var(--description-color);
}

/*=============== PROJECT / FILTER ===============*/
.filter{
    padding: 6.5rem 0 3.5rem;
}

.filter__tabs{
    max-width: 630px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid var(--primary-1);
    background-color: var(--white-color);
    gap: 5px;
    margin: 0 auto;
    border-radius: 18px;
}

.filter__button{
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    color: var(--primary-1);
    font-size: 1rem;
    padding: 1.2rem 2rem;
    border-radius: 18px;
    transition: 0.3s;
}

/* Hover */

.filter__button:hover{
    background-color: var(--primary-1);
    color: var(--white-color);
}

/* Based on main Projects structure */
.filter__container-1{
    margin-top: 3rem;
    row-gap: 2.5rem;
}

/* Active And Deactive */
.filter-button-active{
    background-color: var(--primary-1);
    color: var(--white-color);
    transition: 0.3s;
}

.filter-button-deactive{
    background-color: var(--white-color) !important;
    color: var(--primary-1) !important;
}

.filter-active{
    display: block !important;
}

.filter-deactive{
    display: none !important;
}

/* Breakpoints for this element */
@media screen and (min-width: 630px){
    .filter__container-1{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6rem;
    }
}

@media screen and (min-width: 900px){
    .filter__tabs{
        grid-template-columns: repeat(4, 1fr);
    }
}